@import "tailwindcss";

#root {
  /*max-width: 1780px;*/
  /*max-height: 100vh;*/
  /*width: 100%;*/
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.u-class-background{
    background-image: url("/bg.svg");
    background-position: center;
}


/* Hide scrollbars but keep content accessible */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer & Edge */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

/* Allow invisible scrolling */
* {
  overflow-x: none; /* Enable horizontal scrolling */
  -webkit-overflow-scrolling: touch; /* Smooth scrolling for iOS */
}

/* Shadow */
.shadow-1 {
    /*-webkit-box-shadow: -1px 3px 18px -4px rgba(255,255,255,0.13);*/
    /*box-shadow: -1px 3px 18px -4px rgba(255,255,255,0.13);*/

    /*-webkit-box-shadow: -1px 3px 18px -4px rgba(24,25,25,0.65);*/
    /*box-shadow: -1px 3px 18px -4px rgba(24,25,25,0.65);*/
}


/*NOISE*/


.noise{
  position: relative;
  overflow: hidden;
}

.noiseNav{
  position: relative;
}

.noise:after{
  content: "";
  background: url("/noise.png")  repeat;
  mix-blend-mode: overlay;
  position: absolute;
  inset: 0;
  opacity: .9;
  z-index: 1;
  background-size: 128px;
  border-radius: inherit;
  pointer-events: none;
}

.noiseNav:after{
  content: "";
  background: url("/noise.png")  repeat;
  mix-blend-mode: overlay;
  position: absolute;
  inset: 0;
  opacity: .9;
  z-index: 1;
  background-size: 128px;
  border-radius: inherit;
  pointer-events: none;
}


.noise-2{
  position: relative;
}

.noise-2:after{
  content: "";
  background: url("/noise.png") repeat;
  mix-blend-mode: overlay;
  position: absolute;
  inset: 0;
  opacity: .5;
  z-index: 1;
  background-size: 128px;
  border-radius: inherit;
  pointer-events: none;

}

.noise-3{
  position: relative;
}

.noise-3:after{
  content: "";
  background: url("/noise.png") repeat;
  mix-blend-mode: overlay;
  position: absolute;
  inset: 0;
  opacity: .2;
  z-index: 1;
  background-size: 128px;
  border-radius: inherit;
  pointer-events: none;

}

.custom-corner-header {
	position: relative;
}

/* Applying the border corners */
.custom-corner-header::before,
.custom-corner-header::after,
.custom-corner-header div::before,
.custom-corner-header div::after {
	content: "";
	position: absolute;
	width: 10px;
	height: 10px;
	border: 1px solid #ff4d00;
}

/* Top-left corner */
.custom-corner-header::before {
	top: 0;
	left: 0;
	clip-path: polygon(0 0, 100% 0, 0 100%);
}

/* Top-right corner */
.custom-corner-header::after {
	top: 0;
	right: 0;
	clip-path: polygon(100% 0, 100% 100%, 0 0);
}

/* Bottom-left corner */
.custom-corner-header div::before {
	bottom: 0;
	left: 0;
	clip-path: polygon(0 100%, 0 0, 100% 100%);
}

/* Bottom-right corner */
.custom-corner-header div::after {
	bottom: 0;
	right: 0;
	clip-path: polygon(100% 100%, 100% 0, 0 100%);
}

/**{*/
/*  border: red 1px solid;*/
/*}*/